* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 100px 0 30px;
  background-color: #295dbf;
  position: relative; 
}


.header a {
  text-decoration: none;
  color: ivory;
}

.header-img{
  position: absolute;
  left: 28px;
  top: 20px;
  height: 65px;
}

.logo {
  position: absolute;
  left: 90px;
  font-size: 36px;
  font-weight: 700;
  line-height: 100px; 
}

.search-field{
 margin-top: 15px;
}

.nav-lists {
  position: absolute;
  right: 30px;
  height: 100px;
  display: flex;
}

.nav-lists__list {
  margin-left: 30px;
  font-size: 22px;
  line-height: 100px;  
  
}

#submit-btn{
  width: 80px;
  color: black;
}