.post-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;

}

.edit-form-wrap {
  margin-top: 40px;
  width: 50%;
  height: 900px;
  background-color: #f0e68c;
}

.edit-form-header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 22px;
}

.edit-form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.edit-form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}


.edit-form-text-wrap {
  width: 100%;
  height: 20%;
}

.edit-indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.edit-input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.edit-text-default {
  width: 100%;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.edit-btn {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
}

.edit-blue-btn {
  width: 100%;
  background: #295dbf;
  border: 1px solid #295dbf;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
