.index-main{
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
}


.post-wrapper{
  margin: 30px;
  background-color: white;
  display: inline-block;
  width: 400px;
  border: solid;
}

.post-image{
  text-align: center;
}

.post__img {
  width: 22vh;
  height: 22vh;
}

.post-list{
  padding: 10px;
}

.post-list-first{
  margin: 5px 0 5px;
}