.index-main{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
}

.login-usert{
  position: absolute;
  right: 10px;
  margin: 15px;
  width: fit-content;
  border: 2px solid black;
  background-color: #f0e68c;
  font-size: 30px;
  padding: 5px;
}

.blank-post-wrapper{
  margin: 0 30px 30px;
  background-color: white;
  display: inline-block;
  width: 700px;
  border: solid;
}

.blank-index{
  font-size: 25px;
  background-color: azure;
  border: 2px solid black;
  margin: 100px auto 0;
  padding: 3px;
  width: fit-content;
}

.blank_index_img{
  text-align: center;
  height: 50vh;
  vertical-align:top;
  margin: 5px;
}

.blank-text{
  font-size: 25px;
}

.index-tittle{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}
.index-post-wrapper{
 margin: 0 30px 30px;
  background-color: white;
  display: inline-block;
  width: 400px;
  border: solid;
}

.index-post-image{
  display: flex;  
  align-items: center;
  overflow-x: scroll;
}

.post__img {
  height: 25vh;
  margin: 5px;
  vertical-align:top;
}

.index-post-list{
  padding: 10px;
  background-color: #f0e68c;
}

.index-post-list-first{
  margin: 5px 0 5px;
  text-align: left; 
}

.root-show-btn{
  width: 100%;
  padding: 2px;
  background: #295dbf;
  border: 1px solid #295dbf;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.root-show-btn:hover{
  color: #fff;
  background: green;
}