.post-show-wrapper{
  min-height: calc(100vh - 161px);
  background-color: green;
  margin: 30px;
}

.show-manage {
  display: flex;
  justify-content: center;
}
.post-show-hedding{
  font-size: 24px;
  font-weight: bold;
  
}

.show-image{
  text-align: center;

}
.show__img{
  width: 60%;
  margin: 20px 0;
}
.show__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.show__title{
  font-size: 20px;
  font-weight: bold;
}
.post-show-manage{
  margin: 5px;
}
.show__btn{
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin:  4px;
}

.show__btn:hover{
  color: #fff;
  background: yellow;
}

.post__show__comments{
  background-color: #f6f6f6;
  width: 60%;
  padding: 20px;
  margin: 0 auto ;
}

.post_text_field{
  width: 100%;
  height: 100px;
  padding: 5px;
}

.comment_form__btn{
  background: #295dbf;
  border: 1px solid #295dbf;
  color: #fff;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
}

.show_comments_lists{
  padding-left: 20px;
}

.show_comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}


.comment_user{
  font-size: 16px;
  text-decoration: underline;
}