.post-show-wrapper{
  min-height: calc(100vh - 161px);
  margin: 30px;
}

.show-manage {
  margin:  0 auto;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: fit-content;
}


.post-show-hedding{
  font-size: 30px;
  font-weight: bold;
  
}

.show-image{
  text-align: center;
}
.show__img{
  width: 60%;
  margin: 20px 0;
  border: solid 3px black;
}
.show__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.show__title{
  font-size: 20px;
  font-weight: bold;
}
.post-show-manage{
  margin: 5px;
}
.show__btn{
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  background: #295dbf;
  border: 1px solid #295dbf;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
  margin:  4px;
}

.show__btn:hover{
  color: #fff;
  background: red;
}

.post__show__comments{
  background-color: #f0e68c;
  border: 3px solid black;
  width: 60%;
  padding: 20px;
  margin: 0 auto ;
}

.post_text_field{
  width: 100%;
  height: 100px;
  padding: 5px;
}

.show__comment__actions{
 margin-top: 10px;
}

.comment_form__btn{
  background: #295dbf;
  border: 1px solid #295dbf;
  color: #fff;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
}

.login-prompt{
  width: 430px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  background-color: #fff;
  padding: 4px;
  margin-bottom: 10px;
}

.show_comments_lists{
  margin-top: 20px;
  padding-left: 20px;
}

.show_comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}


.comment_user{
  font-size: 16px;
  text-decoration: underline;
}

.foot-margin{
  width: 100%;
  height: 80px;
}