.my-page-name{
  font-size: 30px;
  position: absolute;
  right: 10px;
  margin: 15px;
  padding: 3px;
  text-align: center;
  background-color: #f0e68c;
  width: fit-content;
  border: 3px solid black;
}

.my-page-main{
  height: 100%;
  text-align: center;
  padding-top: 40px;
}



.my-page-wrapper{
  max-width: 1300px;
  width: fit-content;
  margin: 0 auto 30px ;
  background-color: white;
  border: solid;
}


.my-page-images{
  display: flex;  
  align-items: center;
  overflow-x: scroll;
}


.my_post_img {
  height: 40vh;
  margin: 5px;
  vertical-align:top;
}

.my-post-list{
  padding: 10px;
  background-color: #f0e68c;
}

.my-post-list-first{
  margin: 5px 0 5px;
  text-align: left; 
}

.my-post-content{
  white-space: pre-line;
}

.my-edit-btn{
  padding: 2px;
  background: #295dbf;
  border: 1px solid #295dbf;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.my-edit-btn:hover{
  color: #fff;
  background: green;
}

.my-delete-btn{
  padding: 2px;
  background: #295dbf;
  border: 1px solid #295dbf;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.my-delete-btn:hover{
  color: #fff;
  background: red;
}

.blank-post{
  font-size: 25px;
  background-color: azure;
  border: 2px solid black;
  margin: 0 auto;
  padding: 3px;
  width: fit-content;
}